.outer-container{
    margin: 40px;
    padding: 20px;
    background-color: #F5F5F5;
}

.inner-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tomato-table th {
    font-weight: 500;
    padding-right: 20px
}

.low-high-row {
    font-style: italic;
    font-size: 12px;
}

.temperature-label {
    padding-left: 20px;
    font-style: italic;
}