.outer-container-production{
    padding: 0px 20px;
}

.inner-container-production {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}
